.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  margin: 0 auto;
  display: none;
  background-color: #ccc;
  z-index: 9999;
  animation: show .3s;
}

.modal.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal.close {
  animation: hide .3s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}

@keyframes hide {
  100% {
    opacity: 0;
  }
}