.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  margin: 0 auto;
  display: none;
  background: url(../../../images/places/1646943847_3-abrakadabra-fun-p-oboi-na-telefon-s-alkogolem-4.jpg) no-repeat;
  background-position: center;
  background-attachment: center;
  background-size: cover;
  z-index: 9999;
  animation: show .3s;
}

.modal.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal.close {
  animation: hide .3s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}

@keyframes hide {
  100% {
    opacity: 0;
  }
}