.btn {
  position: fixed;
  top: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}
